@import "./core/index";

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;

  @media only screen and (min-width: 1920px) {
    font-size: 16px;
  }
}
.ppt{
  &-h1,&-h2,&-h3,&-h4,&-h5,&-h6 {
    margin: 0 !important;
    font-family: $primary-font !important;
  }
}   


#root {
  // height: 100%;
  width: 100%;
  position: relative;
  font-family: $primary-font;
  font-weight: 500;
  color: #000000;
  background-color:  #010314;
  border-top: 2px solid $secondary-color;
}

body {
  margin: 0;
  // background-color:  #010314;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #010314;
  border-radius: 10px;
  background-color: #212121;
}

body::-webkit-scrollbar {
  width: 6.01px;
  background-color: #212121;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #010314;
  background-color: #2FACFF;
}

.page-padding {
  padding: 0 5rem;
  @media only screen and (min-width: $tab-min) and (max-width: $tab-max) {
    padding: 0 2.5rem;
  }
}

.ppt-visibility-hide {
  visibility: hidden;
}